In [1]:
#!pip install dash_bootstrap_components
!pip install -U urllib3 requests

Requirement already up-to-date: urllib3 in /home/andrewcgaitskell/.local/share/virtualenvs/dmtoolcode1-bhEI-KFD/lib/python3.8/site-packages (1.26.13)
Requirement already up-to-date: requests in /home/andrewcgaitskell/.local/share/virtualenvs/dmtoolcode1-bhEI-KFD/lib/python3.8/site-packages (2.28.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /home/andrewcgaitskell/.local/share/virtualenvs/dmtoolcode1-bhEI-KFD/lib/python3.8/site-packages (from requests) (2021.10.8)
Requirement already satisfied, skipping upgrade: charset-normalizer<3,>=2 in /home/andrewcgaitskell/.local/share/virtualenvs/dmtoolcode1-bhEI-KFD/lib/python3.8/site-packages (from requests) (2.0.7)
Requirement already satisfied, skipping upgrade: idna<4,>=2.5 in /home/andrewcgaitskell/.local/share/virtualenvs/dmtoolcode1-bhEI-KFD/lib/python3.8/site-packages (from requests) (3.3)

In [2]:
import os
import requests

In [3]:
cwd = os.getcwd()

In [4]:
import pandas as pd

In [5]:
import dash
from dash import dcc
from dash import html
from dash import dash_table

from dash.exceptions import PreventUpdate

from collections import OrderedDict

import plotly.graph_objects as go
from plotly.validators.scatter.marker import SymbolValidator
from plotly.subplots import make_subplots

import plotly.express as px

from dash import Dash, Input, Output,State, callback

import dash_bootstrap_components as dbc

In [6]:
from jupyter_dash import JupyterDash

In [7]:


COMPONENT_STYLE = "/assets/my_component.css"
external_stylesheets=[dbc.themes.BOOTSTRAP]

app = JupyterDash(__name__,requests_pathname_prefix="/dash1/",routes_pathname_prefix='/dash1/',
                  external_stylesheets=external_stylesheets,
                  meta_tags=[{'name': 'viewport', 'content': 'width=device-width, initial-scale=1'}],
                 suppress_callback_exceptions=True)
# Create server variable with Flask server object for use with gunicorn
server = app.server

In [8]:
raw_symbols = SymbolValidator().values
#raw_symbols

In [9]:
from dashboard_libraries import all_data_tables as adt
dashdataandtables = adt.DashDataAndTables()

In [10]:
dashdataandtables.experiments_df

               label             value
0             Theory            Theory
1   CDMS II (Soudan)  CDMS II (Soudan)
2       CDMS I (SUF)      CDMS I (SUF)
3          SuperCDMS         SuperCDMS
4              COSME             COSME
..               ...               ...
58             DRIFT             DRIFT
59            GAMBIT            GAMBIT
60           CDEX-10           CDEX-10
61            NEWS-G            NEWS-G
62           XENONnT           XENONnT

[63 rows x 2 columns]

from all_data_tables import years_table, limit_types_table
from all_data_tables import experiments_table, result_types_table, spin_dependency_table
from all_data_tables import greatest_hit_table, limits_table

from all_data_tables import years_df, limit_types_df
from all_data_tables import experiments_df, result_types_df, spin_dependency_df
from all_data_tables import greatest_hit_df, limits_df

from all_data_tables import limits_table_df

from all_data_tables import limits_metadata_df
from all_data_tables import limits_data_df
from all_data_tables import limits_traces_df

In [11]:
dashdataandtables.limits_data_df

       id  limit_id  trace_id trace_name      x      y  rowid
0    1374         1         1          d   30.0    0.0      0
1    1375         1         1          d   65.0    5.0      1
2    1376         1         1          d   90.0   25.0      2
3    1377         1         1          d  100.0   50.0      3
4    1378         1         1          d   90.0   75.0      4
..    ...       ...       ...        ...    ...    ...    ...
109  1483         1         6          l  600.0   20.0    109
110  1484         1         6          l  530.0   20.0    110
111  1485         1         6          l  530.0  100.0    111
112  1486         1         6          l  510.0  100.0    112
113  1487         1         6          l  510.0    0.0    113

[114 rows x 7 columns]

# Styles

# Table Configurations

style_table={
                #'maxHeight': '50ex',
                'height': '44vh', ## does not know any detail about parent container
                'overflowY': 'scroll', # 'auto'
                'width': '100%',
                'minWidth': '100%',
            }

# style cell
style_cell={
    'fontFamily': 'Open Sans',
    'textAlign': 'center',
    #'height': '60px',
    #'padding': '2px 22px',
    ##'height': '11px', ### this did not have any impact, see css in DataTable Definition
    'padding': '0px 0px',
    'whiteSpace': 'inherit',
    #'overflow': 'hidden',
    #'textOverflow': 'ellipsis',
    "padding-left": 0,
     "padding-right":0,
     "margin-left":0,
     "margin-right": 0,
     "fontSize":10,
}

In [12]:

#########################################################
## New Styles
#########################################################

NOPADDING =  {"padding": "0 !important",
             "padding-left": "0",
             "padding-right":"0",
             "margin-left":"0",
             "margin-right": "0",
             ##"border":"1px solid black"
             }

MASTER_CONTAINER_STYLE = {"height":"100vh",
                          "width":"100vw",
                          "background-color":"pink"}


DASHBOARD_CONTAINER_STYLE =  {"height":"90vh",
                          "width":"90vw",
                          "background-color":"PaleGreen"}

FULL_DIV={"height":"100%","width": "100%","background-color":"black",
          "border":"1px solid black",
          "color": "purple"}

SIDE_COLUMN={"width":"10%","height":"100%"}


HALF_COLUMN={"width":"50%","height":"100%","background-color":"green"}

QUARTER_COLUMN={"width":"25%","height":"100%","background-color":"green"}

FULL_HEIGHT_ROW={"width":"100%","height":"100%"}

SIDEBAR_DIV={"height":"100%", "background-color":"black", "border":"1px solid black",  "color": "purple"}

CHART_DIV={"width":"100%","height":"100%",
           "background-color":"green", "border":"1px solid black",  "color": "purple"}


TABLE_DIV={"height":"100%",
           "background-color":"green", "border":"2px solid green",  "color": "green",
           "selector": ".Select-menu-outer", "rule": "display: block !important"}

ALL_ROW={"width":"100%","height":"90%"}

CONTENT_ROW={"width":"100%","height":"90%"}

HEADER_ROW={"width":"100%","height":"5%"}

FOOTER_ROW={"width":"100%","height":"5%"}

CHART_ROW={"width":"100%","height":"100%"}
LEGEND_ROW={"width":"100%","height":"50%"}
STYLE_ROW={"width":"100%","height":"50%"}

# Color Code

In [13]:
from itertools import cycle

# colors
palette = cycle(px.colors.qualitative.Bold)
#palette = cycle(['black', 'grey', 'red', 'blue'])

# Scaling

In [14]:
from dashboard_libraries import scaling as sc
sf = sc.get_scale_factor('ub')
sf

9.999999999999999e-31

In [15]:
def CreatePlotSeries(limits_in):
    plotseries_df = dashdataandtables.limits_traces_df[dashdataandtables.limits_traces_df['limit_id'].isin(limits_in)].copy()
    plotseries_df = plotseries_df.drop_duplicates()
    plotseries_df = plotseries_df.reset_index(drop=True)
    
    return plotseries_df

In [16]:
default_results = [1]
plotseries = CreatePlotSeries(default_results)
plotseries

,limit_id,trace_id,trace_name,rowid,line_color,line,fill_color,symbol,symbol_color
0,1,1,d,0,black,solid,LightGrey,square,blue
1,1,2,m,1,black,solid,LightGrey,square,blue
2,1,3,t,2,black,solid,LightGrey,square,blue
3,1,4,o1,3,black,solid,LightGrey,square,blue
4,1,5,o2,4,black,solid,LightGrey,square,blue
5,1,6,l,5,black,solid,LightGrey,square,blue

In [17]:
from dashboard_libraries import formattingtable as ft
default_limit = [1]
default_traces = dashdataandtables.limits_traces_df[dashdataandtables.limits_traces_df['limit_id'].isin(default_limit)].copy()
default_styledatatable = ft.CreateFormatTable(default_traces)

In [18]:
plotseries_default = CreatePlotSeries([1])
plotseries_default.head(5)

,limit_id,trace_id,trace_name,rowid,line_color,line,fill_color,symbol,symbol_color
0,1,1,d,0,black,solid,LightGrey,square,blue
1,1,2,m,1,black,solid,LightGrey,square,blue
2,1,3,t,2,black,solid,LightGrey,square,blue
3,1,4,o1,3,black,solid,LightGrey,square,blue
4,1,5,o2,4,black,solid,LightGrey,square,blue

In [19]:
from dashboard_libraries import createlegend as cl
default_limit = [1]
default_traces = dashdataandtables.limits_traces_df[dashdataandtables.limits_traces_df['limit_id'].isin(default_limit)].copy()
default_legend_fig = cl.CreateLegendFig(default_limit,dashdataandtables.limits_traces_df)

In [20]:
default_legend_out_graph = dcc.Graph(figure=default_legend_fig,id='legend_out_id',
                             style={'width': '100%', 'height': '100%'})

In [21]:
from dashboard_libraries import updatelegend as ul

In [22]:
def GetStyleAndLegendColumn(styledatatable_in, legendgraph_in):
    
    styletable_div = html.Div(styledatatable_in,
                        style={**TABLE_DIV,**NOPADDING})
    
    legendgraph_div = html.Div(legendgraph_in,
                        style={**TABLE_DIV,**NOPADDING})

    style_col =  html.Div(children=[styletable_div],
                          className="col col-lg-12" , style={**TABLE_DIV,**NOPADDING})
    legend_col =  html.Div(children=[legendgraph_div],
                           className="col col-lg-12" , style={**TABLE_DIV,**NOPADDING})

    stylerow = html.Div([style_col],
                    className="row",  style={**STYLE_ROW,**NOPADDING})
    legendrow = html.Div([legend_col,],
                    className="row",  style={**LEGEND_ROW,**NOPADDING})

    styleandlegendcolumn_out = html.Div(
                [stylerow, legendrow],
                #[row1],
                className="col col-lg-6",
                #style={**CONTENT_ROW,**NOPADDING}
            )
    return  styleandlegendcolumn_out

default_styleandlegendcolumn = GetStyleAndLegendColumn(default_styledatatable,default_legend_out_graph)

In [23]:
from dashboard_libraries import creategraph as cg
default_limit = [1]
default_traces = dashdataandtables.limits_traces_df[dashdataandtables.limits_traces_df['limit_id'].isin(default_limit)].copy()
default_graph_fig = cg.CreateGraph(default_limit,dashdataandtables.limits_traces_df,dashdataandtables.limits_data_df)

In [24]:
from dashboard_libraries import updategraph as ug

def UpdateGraph(plotseries_table_in):
    #result_ids = [1,262]
    
    plot_series_df = pd.DataFrame(plotseries_table_in)
    
    
    result_ids_plot = plot_series_df['limit_id'].unique().tolist()
    
    #plotseries_default, df_experiment_plot = CreatePlotSeries(result_ids_plot)
    #plotseries_default_plot = CreatePlotSeriesDefault(df_experiment_all_plot)

    # Create figure
    fig3 = go.Figure()

    for index, row in plot_series_df.iterrows():
        trace_data = limits_data_df[(limits_data_df['limit_id']==row['limit_id'])
                                        & (limits_data_df['trace_id']==row['trace_id'])]

    
        trace2add = trace_data

        trace_name = str(row['trace_name'])
        
        fig3.add_trace(go.Scatter(x=trace2add['x'], y=trace2add['y'],
                            mode='lines+markers', # 'lines' or 'markers'
                            line=dict(width=4,dash=row['line'],color=row['line_color']),
                            #showscale=False,
                            text=row['trace_name'],
                            fill='toself',
                            fillcolor = row['fill_color'],
                            marker_symbol=row['symbol'],
                                 marker=dict(
                                size=10,
                                color=row['symbol_color'],#set color equal to a variable
                                #colorscale='Viridis', # one of plotly colorscales
                                showscale=False,
                            ),
                            legendgroup=str(row['limit_id']),  # this can be any string, not just "group"
                            legendgrouptitle_text=str(row['limit_id']),
                            name=str(row['trace_name'])
                                 ))
        
        fig3.update(layout_showlegend=False)
        #fig3.add_trace(go.Scatter(x=trace2add['x'], y=trace2add['scaled_y'],
        #                   mode='markers', # 'lines' or 'markers'
        #                    marker_symbol=row['symbol'],
        #                         marker=dict(
        #                        size=10,
        #                        color=row['color'],#set color equal to a variable
        #                        #colorscale='Viridis', # one of plotly colorscales
        #                        showscale=False,
        #                    ),
        #                    name=str(row['id'])))

    return fig3
#result_ids = [1,262]
#fig5 = UpdateGraph(plotseries_default)
#fig5.show()

In [25]:
#color_dropdown = dcc.Dropdown(id='color-dropdown-id',options=color_options, value='red' )
#line_dropdown = dcc.Dropdown(id='line-dropdown-id',options=line_styles_options, value='solid' )
#symbol_dropdown = dcc.Dropdown(id='symbol-dropdown-id',options=symbol_options, value='diamond' )

default_graph_out = dcc.Graph(figure=default_graph_fig,id='graph_out_id',
                            config=dict(responsive=True),
                            className='h-100'
                            #style={'width': '100%', 'height': '100%'}
                           )

In [26]:
chart_in = default_graph_out

def GetChart(chart_in):

    chartdiv = html.Div([chart_in], style={**CHART_DIV,**NOPADDING},)

    chart_col =  html.Div(children=[chartdiv],className="col col-lg-12",style=NOPADDING)

    chart_row = html.Div([chart_col],
                    className="row",  style={**CHART_ROW,**NOPADDING})

    column_chart_out = html.Div(
                [chart_row]  ,
                className="col col-lg-6"
            )
    return column_chart_out

default_column_chart = GetChart(chart_in)

In [27]:
twocolumns =  html.Div(className="row g-0",children=[default_column_chart,
                                                  default_styleandlegendcolumn,
                                                  ],
                        style={**ALL_ROW,**NOPADDING})

In [28]:
layout2 = html.Div([twocolumns],
                   className="container-fluid",
                   style=DASHBOARD_CONTAINER_STYLE,
                  )

In [29]:
app.layout = layout2

@app.callback(
    [Output("graph_out_id","figure"),Output("legend_out_id","figure"),],
    [Input('format_table_id', 'data')],
    [State("format_table_id", "data")])
def update_output(table_data, table_data_in):
    fig_out = ug.UpdateGraph(dashdataandtables, table_data_in)
    legend_out = ul.UpdateLegendFig(table_data_in)

    
    return fig_out, legend_out

In [30]:
app.run_server(host="0.0.0.0", port=8002, debug=True, use_reloader=False)

Dash app running on http://0.0.0.0:8002/dash1/