<a href="https://colab.research.google.com/github/andrewcgaitskell/dmtoolnotes/blob/main/colab_data_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%sh
pip install -q ipywidgets
pip install -q dash
pip install -q dash_core_components
pip install -q dash_bootstrap_components
pip install -q dash_table
pip install jupyter-dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jupyter-dash in /usr/local/lib/python3.7/dist-packages (0.4.2)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (4.10.1)
Requirement already satisfied: retrying in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.3.3)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.5.5)
Requirement already satisfied: dash in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (2.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (2.23.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (5.5.0)
Requirement already satisfied: ansi2html in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.7.0)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from jupyter-dash) (1.1.4)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from ansi2html->jupyter-dash) (4.11.3)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (5.5.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: flask-compress in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (1.12)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.7/dist-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask->jupyter-dash) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (1.15.0)
Requirement already satisfied: brotli in /usr/local/lib/python3.7/dist-packages (from flask-compress->dash->jupyter-dash) (1.0.9)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->ansi2html->jupyter-dash) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->ansi2html->jupyter-dash) (3.8.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel->jupyter-dash) (5.3.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyter-dash) (0.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (4.10.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (23.0.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->jupyter-dash) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (2022.5.18.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->jupyter-dash) (2.10)

In [2]:
import dash
from dash import dcc
from dash import html
from dash import dash_table

import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

from dash import Dash, Input, Output, callback, State

from jupyter_dash import JupyterDash

import dash_bootstrap_components as dbc
##COMPONENT_STYLE = "/assets/my_component.css"
COMPONENT_STYLE = "/assets/table.css"
external_stylesheets=[dbc.themes.BOOTSTRAP]

app = JupyterDash(__name__,requests_pathname_prefix="/dash1/",routes_pathname_prefix='/dash1/',
                  external_stylesheets=external_stylesheets,
                  meta_tags=[{'name': 'viewport', 'content': 'width=device-width, initial-scale=1'}],
                 suppress_callback_exceptions=True)
# Create server variable with Flask server object for use with gunicorn
server = app.server

/usr/local/lib/python3.7/dist-packages/jupyter_dash/jupyter_app.py:98: UserWarning: The requests_pathname_prefix argument is ignored when running in Colab
  prop=prop
/usr/local/lib/python3.7/dist-packages/jupyter_dash/jupyter_app.py:98: UserWarning: The routes_pathname_prefix argument is ignored when running in Colab
  prop=prop

In [3]:
newplot_input = dbc.Row(
    [
        dbc.Label("New Plot", width=2),
        dbc.Col(
            [dbc.Input(
                type="text", id="newplot_input", placeholder="Enter New Plot Name"
            ),
            dbc.FormText("Enter unique name for your plot",color="secondary")],
            width=10,
            style={"height": "100%","background-color": "blue", "padding":"0px", "margin":"0px"},
        ),
    ],
style={"height": "50%"},
)

In [4]:
newplotform = dbc.Container(
    [
        dbc.Row(
            [
                dbc.Col(
                    html.P("New Plot"),
                    width=12,
                    style={"height": "100%","background-color": "red","padding":"0px", "margin":"0px"},
                ),
            ],
            #className="h-25",
            style={"height": "50%"},
        ),
        newplot_input,
    ],
    style={"height": "50px"},
)

In [5]:
from dash import Dash, dash_table
import pandas as pd

df_1 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/solar.csv')
df_2 = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/solar.csv')

df_2 = df_2.drop([0, 1,2,3,4])

df_2

#app.layout = dash_table.DataTable(df.to_dict('records'), [{"name": i, "id": i} for i in df.columns])

,State,Number of Solar Plants,Installed Capacity (MW),Average MW Per Plant,Generation (GWh)
5,Texas,12,187,15.6,354
6,North Carolina,148,669,4.5,1162
7,New York,13,53,4.1,84

In [6]:
tableform = dbc.Container(
    [
        dbc.Row(
            [
                dbc.Col(
                    [dbc.Label('Click a cell in the table:'),
                    dash_table.DataTable(data=df_1.to_dict('records'),columns=[{"name": i, "id": i} for i in df_1.columns],id='tbl1'),
                     dbc.Alert(id='tbl_out_1'),],
                    width=6,
                    style={"height": "100%","background-color": "red","padding":"0px", "margin":"0px"},
                ),
            ],
            #className="h-25",
            style={"height": "50%"},
        ),
     dbc.Row(
            [
                dbc.Col(
                    [dbc.Label('Click a cell in the table:'),
                    dash_table.DataTable(data=df_2.to_dict('records'),
                                         columns=[{"name": i, "id": i} for i in df_2.columns],
                                         id='tbl2',
                                        row_selectable='multi',
                                        sort_action='native',
                                        # editable=True,
                                        row_deletable=True,
                                        # rows=[{}],
                                        selected_rows=[],),
                     dbc.Alert(id='tbl_out_2'),],
                    width=6,
                    style={"height": "100%","background-color": "red","padding":"0px", "margin":"0px"},
                ),
            ],
            #className="h-25",
            style={"height": "50%"},
        ),
    ],
    style={"height": "100vh"},
)

In [7]:
from dash import Dash, dash_table, html
import pandas as pd
from collections import OrderedDict

df = pd.DataFrame(OrderedDict([
    ('climate', ['Sunny', 'Snowy', 'Sunny', 'Rainy']),
    ('temperature', [13, 43, 50, 30]),
    ('city', ['NYC', 'Montreal', 'Miami', 'NYC'])
]))


app.layout = html.Div([
    dash_table.DataTable(
        id='table-dropdown',
        css=[{"selector":".dropdown", "rule": "position: static"}],
        style_table={'margin-top': 10},
        style_cell={},
        data=df.to_dict('records'),
        columns=[
            {'id': 'climate', 'name': 'climate', 'presentation': 'dropdown'},
            {'id': 'temperature', 'name': 'temperature'},
            {'id': 'city', 'name': 'city', 'presentation': 'dropdown'},
        ],
        editable=True,
        dropdown={
            'climate': {
                'options': [
                    {'label': i, 'value': i}
                    for i in df['climate'].unique()
                ]
            },
            'city': {
                 'options': [
                    {'label': i, 'value': i}
                    for i in df['city'].unique()
                ]
            }
        }
    ),
    html.Div(id='table-dropdown-container')
])

In [8]:
#app.run_server(mode='inline',
#               ##mode='external', 
#               threaded=True)

In [9]:
#app.layout = tableform

In [10]:
#@callback([Output('tbl2', 'rows'),
#           Input('tbl1', 'rows'),
 #          Input('tbl1', 'selected_row_indices')])
#          #Output('tbl_out_1', 'children'),
#          #Input('tbl1', 'active_cell'))
#def f(rows,selected_row_indices):
#    #either:
#    selected_rows=[rows[i] for i in selected_row_indices]
#    #or
#    #selected_rows=pd.DataFrame(rows).iloc[i].to_dict('records')
#    return selected_rows

In [11]:
## https://community.plotly.com/t/updating-table-based-on-selected-row-of-another-table/19993/2

data = [
    ['Not Fulfilled', '2019-02-12 6:23:00', '6425386', '1589625', 'jim.john@aol.com', 'Bank of America', 'Jim', 'John',"Jim's Place", 'Collector'],
    ['Not Fulfilled', '2019-02-12 6:45:00', '6798541', '1578542', 'ssmith@yahoo.com', 'US Bank', 'Steve', 'Smith',"Smith's Store", 'Vision'],
    ['Not Fulfilled', '2019-02-12 8:16:00', '6673825', '1384408', 'thelastresort@msn.com', 'Chase', 'Sarah', 'Sica', 'The Last Resort', 'Firewall'],
    ['Not Fulfilled', '2019-02-12 9:01:00', '4435827', '1756843', 'aaa@gmail.com', 'Wells Fargo', 'Eric', 'Williams', 'AAA', 'Firewall']
]
fulfillment = pd.DataFrame(data, columns=['Status', 'Created At', 'Internal ID', 'Invoice #', 'Customer Email', 'Processing Bank', 'First Name', 'Last Name', 'Company Name', 'Fulfillment Type'])

fulfill_new_df = fulfillment[['Status', 'Created At', 'Internal ID', 'Invoice #', 'Customer Email']]

app.layout = html.Div([
    html.Div([
        dash_table.DataTable(
            id='datatable-interactivity',
            columns=[
                {"name": i, "id": i} for i in fulfill_new_df.columns
            ],
            data=fulfill_new_df.to_dict("records"),
            filter_action="native",
            editable=False,
            #sorting=True,
            #sorting_type="single",
            row_selectable="multi",
            selected_rows=[],
            style_table={'margin-top': 10, 'overflowX': 'scroll'},
            style_cell={'text-align': 'center'}
        ),
    ], className='ten columns offset-by-one'),

    html.Div(id='display_selected_row', className='eight columns offset-by-two')
])


@app.callback(
    output=Output('display_selected_row', "children"),
    inputs=[Input('datatable-interactivity', "selected_rows")],
    state=[State('datatable-interactivity', "data")])
def update_graph(selected_rows, rows):
    if selected_rows is None:
        selected_rows = []

    if rows is None:
        dff = fulfill_new_df
    else:
        dff = pd.DataFrame(rows)

    dff = dff.iloc[selected_rows]

    return html.Div([
        dash_table.DataTable(
            id='display_selected_row_data_table',
            columns=[
                {"name": i, "id": i} for i in dff.columns
            ],
            data=dff.to_dict("records"), ## "rows"),
            #editable=True,
            #row_deletable=True
        ),
    ])

In [12]:
## https://community.plotly.com/t/updating-table-based-on-selected-row-of-another-table/19993/2

data = [
    ['Not Fulfilled', '2019-02-12 6:23:00', '6425386', '1589625', 'jim.john@aol.com', 'Bank of America', 'Jim', 'John',"Jim's Place", 'Collector'],
    ['Not Fulfilled', '2019-02-12 6:45:00', '6798541', '1578542', 'ssmith@yahoo.com', 'US Bank', 'Steve', 'Smith',"Smith's Store", 'Vision'],
    ['Not Fulfilled', '2019-02-12 8:16:00', '6673825', '1384408', 'thelastresort@msn.com', 'Chase', 'Sarah', 'Sica', 'The Last Resort', 'Firewall'],
    ['Not Fulfilled', '2019-02-12 9:01:00', '4435827', '1756843', 'aaa@gmail.com', 'Wells Fargo', 'Eric', 'Williams', 'AAA', 'Firewall']
]
fulfillment = pd.DataFrame(data, columns=['Status', 'Created At', 'Internal ID', 'Invoice #', 'Customer Email', 'Processing Bank', 'First Name', 'Last Name', 'Company Name', 'Fulfillment Type'])

fulfill_new_df = fulfillment[['Status', 'Created At', 'Internal ID', 'Invoice #', 'Customer Email']]

selected_df = pd.DataFrame().reindex_like(fulfill_new_df)

columns2=[{"name": i, "id": i} for i in fulfill_new_df.columns]
columns2

[{'id': 'Status', 'name': 'Status'},
 {'id': 'Created At', 'name': 'Created At'},
 {'id': 'Internal ID', 'name': 'Internal ID'},
 {'id': 'Invoice #', 'name': 'Invoice #'},
 {'id': 'Customer Email', 'name': 'Customer Email'}]

In [13]:
appenddict1 = {'id': 'Line Color', 'name': 'Line Color', 'presentation': 'dropdown'}
appenddict2 = {'id': 'Line Pattern', 'name': 'Line Pattern', 'presentation': 'dropdown'}

In [14]:
columns2.append(appenddict1)
columns2.append(appenddict2)

In [15]:
columns2

[{'id': 'Status', 'name': 'Status'},
 {'id': 'Created At', 'name': 'Created At'},
 {'id': 'Internal ID', 'name': 'Internal ID'},
 {'id': 'Invoice #', 'name': 'Invoice #'},
 {'id': 'Customer Email', 'name': 'Customer Email'},
 {'id': 'Line Color', 'name': 'Line Color', 'presentation': 'dropdown'},
 {'id': 'Line Pattern', 'name': 'Line Pattern', 'presentation': 'dropdown'}]

In [16]:
color_df = pd.DataFrame(data=px.colors.qualitative.Plotly)
color_df = color_df.rename(columns={0:'ColorCode'})
color_df

  ColorCode
0   #636EFA
1   #EF553B
2   #00CC96
3   #AB63FA
4   #FFA15A
5   #19D3F3
6   #FF6692
7   #B6E880
8   #FF97FF
9   #FECB52

In [17]:
color_data = [['red','#ff3366'],
['orange', '#ff6633'],
['yellow', '#FFCC33'],
['green', '#33FF66'],
['cyan', '#33FFCC'],
['sky', '#33CCFF'],
['blue', '#3366FF'],
['indigo', '#6633FF'],
['violet', '#CC33FF'],
['grey', '#efefef']]

In [18]:
color_df = pd.DataFrame(data=color_data)
color_df = color_df.rename(columns={0:'Name', 1:'Code'})
color_df

     Name     Code
0     red  #ff3366
1  orange  #ff6633
2  yellow  #FFCC33
3   green  #33FF66
4    cyan  #33FFCC
5     sky  #33CCFF
6    blue  #3366FF
7  indigo  #6633FF
8  violet  #CC33FF
9    grey  #efefef

In [19]:
linestyle_list = ["solid", "dot", "dash", "longdash", "dashdot","longdashdot"]
linestyle_df = pd.DataFrame(data=linestyle_list)
linestyle_df = linestyle_df.rename(columns={0:'Name'})
linestyle_df

          Name
0        solid
1          dot
2         dash
3     longdash
4      dashdot
5  longdashdot

In [20]:


app.layout = html.Div([
    html.Div([
        dash_table.DataTable(
            id='datatable-master',
            columns=[
                {"name": i, "id": i} for i in fulfill_new_df.columns
            ],
            data=fulfill_new_df.to_dict("records"),
            filter_action="native",
            editable=False,
            #sorting=True,
            #sorting_type="single",
            row_selectable="multi",
            selected_rows=[],
            style_table={'margin-top': 10, 'overflowX': 'scroll'},
            style_cell={'text-align': 'center'}
        ),
    ], className='ten columns offset-by-one'),

    html.Div([
        dash_table.DataTable(
            id='datatable-slave',
            css=[{"selector":".dropdown", "rule": "position: static"}],
            columns=columns2,
            data=selected_df.to_dict("records"),
            #filter_action="native",
            editable=True,
            row_deletable=True,
            #sorting=True,
            #sorting_type="single",
            row_selectable="single",
            selected_rows=[],
            style_table={'margin-top': 10},
            style_cell={'text-align': 'center'},
            dropdown={
            'Line Color': {
                'options': [
                    {'label': i, 'value': i}
                    for i in color_df['Name']
                ]
            },
            'Line Pattern': {
                 'options': [
                    {'label': i, 'value': i}
                    for i in linestyle_df['Name']
                ]
            }
        }


        ),
    ], className='ten columns offset-by-one'),

])


@app.callback(
    output=Output('datatable-slave', "data"),
    inputs=[Input('datatable-master', "selected_rows")],
    state=[State('datatable-master', "data")])
def update_graph(selected_rows1, rows1):
    if selected_rows1 is None:
        selected_rows1 = []

    if rows1 is None:
        dff1 = fulfill_new_df
    else:
        dff1 = pd.DataFrame(rows1)

    dff1 = dff1.iloc[selected_rows1]

    data1=dff1.to_dict("records")

    return data1

'''
@app.callback(
    output=Output('datatable-slave', "data"),
    inputs=[Input('datatable-slave', "selected_rows")]#,
    #state=[State('datatable-slave', "data")]
    )
def update_graph(selected_rows2, rows2):
    if selected_rows2 is None:
        selected_rows2 = []

    if rows2 is None:
        dff2 = selected_df
    else:
        dff2 = pd.DataFrame(rows2)

    ##dff = dff.iloc[selected_rows]
    dff2  = dff2.drop(dff2.iloc[selected_rows2], inplace=True)
    data2 = dff2.to_dict("records")

    return data2'''

'\n@app.callback(\n    output=Output(\'datatable-slave\', "data"),\n    inputs=[Input(\'datatable-slave\', "selected_rows")]#,\n    #state=[State(\'datatable-slave\', "data")]\n    )\ndef update_graph(selected_rows2, rows2):\n    if selected_rows2 is None:\n        selected_rows2 = []\n\n    if rows2 is None:\n        dff2 = selected_df\n    else:\n        dff2 = pd.DataFrame(rows2)\n\n    ##dff = dff.iloc[selected_rows]\n    dff2  = dff2.drop(dff2.iloc[selected_rows2], inplace=True)\n    data2 = dff2.to_dict("records")\n\n    return data2'

In [21]:
app.run_server(mode='inline', debug=True)